/* General */

html, body, iframe {
  margin: 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#all {
  width: 100%;
  height: 100%;
  border-top: 1px solid #404040;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 0px;
}

#all p {
  font-family:"Arial", "Verdana", sans-serif;
}

/* Header Area */
#name {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: xx-large;
}

#title {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#header {
  width: 100%;
  background-color: grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#header_text_group {
  width:40%;
  float: left;
}

#hdr_text p {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
}

#email {
  color: white;
}

#header_widgets {
  padding-top: 1%;
  padding-right: 10px;
  width: 55%;
  float: right;
  text-align: right;
  vertical-align: bottom;
}

#header hr {
  border-top: 1px dashed;
}

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  border-width: 1px 0;
  text-align: center;
  font-family:"Arial", "Verdana", sans-serif;
}

#nav_bar a{
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #0099ff;
  font-weight: bold;
}

#nav_bar a:hover {
  color: grey;
}

#nav_bar li{
  display:inline;
}

#navigation {
  width: 100%;
}


/* Summary Area */

#main {
  width: 100%;
}

#main hr {
  border-top: 1px dashed;
}

#profile_img {
  width: 25%;
  height: auto;
  float: left
  padding: 5%;
}

#summary_text {
  width: 70%;
  height: auto;
  float: right;
  padding-top: 10px;
}

#logo {
  width: 15%;
  height: auto;
  display: inline;
  margin-right: 5px;
  float: left;
}

#summary_text p {
  padding: 0px;
  margin: 0px;
}

/* Detail */
#detail {
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}


/* Footer Area */

#footer {
  width: 100%;
  float: left;
  text-align: center;
  font-size: small;
}

#footer hr {
  border-top: medium double;
}

/* Sections */
.section_header {
  font-weight: bold;
  padding-left: 10px;
}

.education_text p {
  margin: 0px;
  padding-left: 10px;
}

.project_header {
  padding-left: 10px;
}

.project_header a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}

.project_text {
  padding-left: 10px;
}

.project_skills {
  padding-left: 10px;
}

.project_link a {
  padding-left: 10px;
  text-decoration: none;
  color: #0099ff;
}

.publication_name {
  font-weight: bold;
}

.publication_text {
  padding-left: 10px;
  padding-right: 10px
}

.publication_link {
  padding: 0px;
  margin: 0px;
}

.publication_link a {
  padding-left: 10px;
  text-decoration: none;
  color: #0099ff;
}

.award_text a {
  text-decoration: none;
  color: #0099ff;
}

.award_location {
  font-weight: bold;
}

.award_text {
  padding-left: 10px;
  padding-right: 10px;
}

.award_year {
  padding-left: 10px;
  font-weight: bold;
  color: grey;
}

.education_detail {
  width: 75%;
  float: left;
}

.education_text {
  width: 95%;
  float: center;
  margin: 10px; 
}

.education_year {
  font-weight: bold;
  color: grey;
}

.education_crest {
  float: right;
  padding: 10px;
  width: 15%;
}

.education_crest img {
  width: 50px;
  height: auto;
}

.pdf_display {
  width:750px;
  height:950px;
  margin-left: auto;
  margin-right: auto;
}

/* For code flowers */

#visualization_biobakery {
  overflow: auto;
}

#visualization_breadcrumbs {
  overflow: auto;
  float: right;
  padding-left: 10px;
}

#visualization_micropita {
  overflow: auto;
  float: right;
  padding-left: 10px;
}


circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}